@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}
<h1>Næste uges menu:</h1>
<table>
  <tr>
    <th>Dag</th>
    <th>Varm ret</th>
    <th>Kold ret</th>
  </tr>
  <tr>
    <td>Mandag</td>
    <td>Varm suppe</td>
    <td>Kold suppe</td> 
  </tr>
  <tr>
    <td>Tirsdag</td>
    <td>Lun suppe (rester fra mandag)</td>
    <td>Tørt rugbrød</td> 
  </tr>
  <tr>
    <td>Onsdag</td>
    <td>Hot tamale</td>
    <td>Cold tamale</td> 
  </tr>
  <tr>
    <td>Torsdag</td>
    <td>Lasagne</td>
    <td>Islagkage</td> 
  </tr>
  <tr>
    <td>Fredag</td>
    <td>Kylling i karry</td>
    <td>Knækbrød</td> 
  </tr>
</table>
