@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}
<h1>Næste uges menu:</h1>
<table>
  <tr>
    <th>Uge 14</th>
    <th>Varm ret</th>
    <th>Kold ret</th>
  </tr>
  <tr>
    <th>Mandag</th>
    <td>Varm suppe</td>
    <td>Kold suppe</td> 
  </tr>
  <tr>
    <th>Tirsdag</th>
    <td>Lun suppe (rester fra mandag)</td>
    <td>Tørt rugbrød</td> 
  </tr>
  <tr>
    <th>Onsdag</th>
    <td>Hot tamale</td>
    <td>Cold tamale</td> 
  </tr>
  <tr>
    <th>Torsdag</th>
    <td>Lasagne</td>
    <td>Islagkage</td> 
  </tr>
  <tr>
    <th>Fredag</th>
    <td>Kylling i karry</td>
    <td>Knækbrød</td> 
  </tr>
</table>
