@page
@{
}

<h1>Kontakt</h1>
<table>
    <tr>
        <th>Navn:</th>
        <td>Karen "Mad i en fart" Knudsen</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>madkaren@gmail.com</td>
    </tr>
    <tr>
        <th>Tlf:</th>
        <td>+45 28 37 49 99</td>

    </tr>
</table>